<mat-card>
    <mat-card-header>
        <mat-card-title>Regions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row" fxFlex="100%" fxLayoutGap="10px">
            <div fxFlex="50%">
                <h2>Stores</h2>
                <mat-list *ngIf="stores.length">
                    <div *ngFor="let store of stores">
                        <mat-list-item>{{store.name}}</mat-list-item>
                        <mat-divider></mat-divider>
                    </div>
                </mat-list>
                <span *ngIf="!stores.length">
                    No stores associated with selected region.
                </span>
            </div>
            <div fxFlex="50%">
                <h2>Sales Persons</h2>
                <mat-list *ngIf="salesPersons.length">
                    <div *ngFor="let salesPerson of salesPersons">
                        <mat-list-item>{{salesPerson.firstName}} {{salesPerson.middleName}}
                            {{salesPerson.lastName}}</mat-list-item>
                        <mat-divider></mat-divider>
                    </div>
                </mat-list>
                <span *ngIf="!salesPersons.length">
                    No sales person associated with selected region.
                </span>
            </div>
        </div>
    </mat-card-content>
</mat-card>